// Font Family
$heebo: 'Heebo', sans-serif;
$rufina: 'Rufina', serif;

// Colors ---------------
$white: #ffffff;
$black: #222;
$grey:#f7f7fd;
$theme-color: #ff6666;
$theme-color-2: #00d1c0;
$body-text-color: #66819a;
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #001c37;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$lp: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

